@use "./variables" as *;


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family:$font-family;
}

body {
  color: $font-color;
  overflow-x: hidden;
}

.container {
  width: 100%;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.0625rem 2.5rem 1.0625rem 3.125rem;
  box-shadow: $navbar-shadow;

  &__logo {
    img {
      width: 3.4375rem;
      height: auto;
      cursor: pointer;
    }
  }

  &__links {
    display: flex;
    align-items: center;
    gap: 1.875rem;
    margin-right: 1.2%;

    .navbar__link {
      text-decoration: none;
      color: $link-color;
      font-size: 0.8125rem;
      font-weight: 700;

      sup {
        color: $sup-red;
        font-size: 0.625rem;
        line-height: 0;
      }
    }
  }

  &__search {
    display: flex;
    align-items: center;
    width: 23.125rem;
    border-radius: 0.3125rem;
    background-color: $bg-search;

    img {
      margin-left: 0.625rem;
      width: 1.25rem;
      height: auto;
    }

    .navbar__search-label {
      margin-right: 0.5rem;
      font-size: 0.875rem;
    }

    .navbar__search-input {
      padding: 0.75rem;
      border-radius: 1.25rem;
      border: none;
      width: 18.75rem;
      outline: none;
      font-size: 0.875rem;
      background-color: $bg-search;
    }
  }

  &__userItems {
    display: flex;
    gap: 1.25rem;
    margin-right: 0;

    .navbar__userItems--profile,
    .navbar__userItems--wishlist,
    .navbar__userItems--bag {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 0.3125rem;
      cursor: pointer;

      img {
        width: 1.125rem;
        height: 1.125rem;
      }

      h4 {
        font-size: 0.75rem;
      }
    }
  }
}
.sale{
    background: $bg-sale-gradient;
    text-align: center;
    box-shadow: $sale-shadow;
    padding: 0.938rem;
    color: $sale-color;
}

.products {
    display: grid;
    grid-template-rows: auto auto auto;
    gap: 1.25rem;
    margin-top: 1rem;

    &__link {
      padding-left: 3.125rem;
      grid-row: 1/2;
    }

    &__count {
      padding-left: 3.125rem;
      grid-row: 2/3;
    }

    &__content {
        grid-row: 3/4;
        display: grid;
        grid-template-columns: 20% 80%; 
        gap: 1rem;
    }

    &__filters {
        grid-column: 1/2;
        display: flex;
        flex-direction: column;
        gap: 2rem;

        &--heading{
          padding-left: 3.125rem;
          display: flex;
          justify-content: space-between;

        }
        &--title{
          font-weight: 700;
        }
        &--clear{
          cursor: pointer;
          font-weight: 700;
          color: #ff3f6c;
          font-size: 0.8125rem;
        }
        &--brand , &--discount{
          display: flex;
          flex-direction: column;
          justify-content: center;
          gap: 1rem;
          border-bottom: 1px solid #e9e9ed;
          padding-top: 1.25rem;
          padding-bottom: 0.938rem;

          &--title{
            font-size: 0.938rem;
          }

          &-options{
            display: flex;
            flex-direction: column;
          }
          &-option{
            display: flex;
            gap: 1rem;
            color: #5c5c5d;
            font-size: 0.938rem;
          }

        }
        
        &-bottom{
          display: none;
          border: 1px solid #e9e9ed;
          margin-right: 1rem;

          img{
            width: 0.75rem;
            height: 0.75rem;
            cursor: pointer;
          }
        }
        &-search{
          display: flex;
          align-items: center;
        }
        &-input{
          border: none;
          padding: 0.5rem 0.6em;
        }


        &--list{
          display: flex;
          flex-direction: column;
          gap: 1rem;
          padding-left: 3.125rem;
          border: 0.666667px solid rgb(233, 233, 237);
          margin-left: 0;
        }
        &-top{
          display: flex;
          justify-content: space-between;
          padding-right: 1rem;

          img{
            width: 1.5rem;
            height: auto;
            padding: 0.125rem;
            background-color: #f9f9f9;
            border-radius: 50%;
            cursor: pointer;
          }
        }
        


          

        &-row{
          display: flex;
          flex-wrap: nowrap;
          align-items: flex-start;
          padding-right: 5%;
          box-shadow: 0 8px 8px -4px rgba(40, 44, 63, .04);
          margin-bottom: 1rem;
        }

        &-dropdown{
          margin-left: auto;
          position: relative;

          &-toggle{
            display: flex;
            padding: 0.5rem 1rem;
            white-space: nowrap;
            gap: 5rem;
            cursor: pointer;
            background-color: #fff;
            border: 1px solid #d4d5d9;
            border-radius: 0.125rem;
              }
          img{
            width: 1.25rem;
            height: auto;
          }

          &-menu{
            display: none;
            position: absolute;
            top: 100%;
            left: 0;
            list-style: none;
            background-color: #fff;
            width: 100%;
            z-index: 2;

            li{
              font-size: 0.875em;
              border: 1px solid #d4d5d9;
              padding: 0.5rem 1rem;
              white-space: nowrap;
              cursor: pointer;

              
            }
          }
          &:hover &-menu {
            display: block;
          }
        }
        &--price {
          border-bottom: 1px solid #e9e9ed;
        
          &-container {
            position: relative;
            margin: 2.5rem 0;
        
            input[type='range'] {
              position: absolute;
              width: 90%;
              height: 0.3125em;
              -webkit-appearance: none;
              transform: translateY(-100%);
              top: 20%;
              pointer-events: none;
              z-index: 2;
            }
        
            input[type='range']::-webkit-slider-thumb {
              height: 1.25rem;
              width: 1.25rem;
              border-radius: 50%;
              border: 0.4375rem solid #ff3f6c;
              background-color: white;
              pointer-events: auto;
              -webkit-appearance: none;
              cursor: pointer;
              z-index: 3;
            }
          }
        
          &-slider {
            width: 90%;
            height: 0.3125em;
            background-color: #ccc;
            border-radius: 12.5rem;
            position: relative;
            z-index: 1;
          }
        }
        &-list{
          &-items{
            list-style: none;
            display: flex;
            flex-wrap: wrap;
            position: relative;
            top: -0.75rem;
          }
          &-item{
            display: flex;
            align-items: center;
            gap: 0.3125em;
            cursor: pointer;
            padding: 0.625em;
            color: rgb(40, 44, 63);
            font-weight: normal;
    
            &:hover{
              background-color: rgb(214, 214, 214);
              border-radius: 1.25rem;
              cursor: pointer;
            }
            img{
              width: 0.938rem;
              height: auto;
    
            }
          }
         
        }
        &--summary{
          margin-bottom: 1rem ;
          display: flex;
          gap: 1rem;
          flex-wrap: wrap;
          white-space: nowrap;

            &-item{
              display: flex;
              border: 1px solid #e9e9ed;
              border-radius: 0.625em;
              padding: 0.35rem 1rem;
              gap: 0.5rem;
              align-items: center;
              font-size: 0.8125rem;
              cursor: pointer;

            }
            
            img{
              width: 0.75rem;
              height: 0.75rem;
    
            }
        }
    
                
       
    }
.left{
  position: absolute;
  left: -10%;
}

  
    &__cards{
      &-card{
      display: grid;
      grid-template-columns: repeat(4,1fr);
      row-gap: 3rem;
    }
    &-error{
      color: red;
      text-align: center;
      font-size: 1.5rem;
    }

  }


    &__card {
      width: 14.375rem;
      overflow: hidden;
      position: relative;
    
      &-img {
        width: 100%;
        height: 17.8125rem;
        display: block;
        border: 1px solid #ddd;

      }
    
      &-rating {
        position: absolute;
        top: 60%;
        background-color: #fff;
        display: inline-flex;
        align-items: center;
        font-size: 0.875em;
        border-radius: 0.1875rem;
        padding: 0.375rem 0.5rem;
        color: #000;
        margin: 0.5rem;
    
        span {
          color: green;
          margin-left: 0.25rem;
        }
      }
    
      &-content {
        padding: 0 0.75rem 0.75rem;
      }
    
      &-brand {
        font-weight: bold;
        margin-top: 1.25rem;
      }
    
      &-desc {
        color: gray;
        font-size: 0.875em;
        margin-top: 0.25rem;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }
    
      &-price {
        font-size: 1rem;
        margin-top: 0.5rem;
    
        &--discounted {
          color: #000;
          font-weight: bold;
        }
    
        &--original {
          text-decoration: line-through;
          color: #999;
          font-size: 0.875em;
          margin-left: 0.375rem;
        }
    
        &--offer {
          color: #e53935;
          font-size: 0.875em;
          margin-left: 0.375rem;
        }
      }
    }
    

}

.sidebar{
  position: fixed;
  width: 3rem;
  height: 17em;
  top: 30%;
  right: 0%;
  background-color: #535766;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2;

  h4{
    transform: rotate(-90deg);
    white-space: nowrap;
    text-align: center;
    font-size: 1.5rem;
  }
}




